<div class="m-4">
	<h1>Đăng khóa học</h1>

	<form method="POST" action="/courses/saved">
		<div class="mb-3">
			<label for="name" class="form-label">Tên khóa học</label>
			<input type="text" class="form-control" name="name" />
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Mô tả</label>
			<input type="text" class="form-control" name="description" />
		</div>
		<div class="mb-3">
			<label for="videoId" class="form-label">Video ID</label>
			<input type="text" class="form-control" name="videoId" />
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>